doctype html
html(lang="es")
  head
    title
      | Test
    meta(charset="UTF-8")
    link(href="/css/styles.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://use.fontawesome.com/0f582737cd.js")

  body
    header.header.w-100.bg-tertiary
      .container-fluid.d-flex
        a.header__logo
          img(src="https://via.placeholder.com/50")

        nav.header__nav.d-flex
          ul.main-menu.d-flex
            li
              a(href="#") Sobre nosotros
          
          .notifications
            i.fa.fa-bell
            span.quantity.text-tertiary.text-center.bg-primary 2

          .user-menu
            span.user-menu__name.text-uppercase.text-gray-light Rubén
            img(src="https://via.placeholder.com/40", class="img-circle", width="40")
            
    aside.side-menu.bg-tertiary
      form.search.w-100
        .input-group.w-100
          button.search__button
            i.fa.fa-search
          input(type="text", class="search--input form-control", placeholder="Buscar producto", name="searchProduct")

      ul.product-list
        li.product-list__item.d-flex
          img(src="https://via.placeholder.com/50", width="50")
          span What Is The Right Look
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex.selected
          img(src="https://via.placeholder.com/50", width="50")
          span What Is Botox
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex.selected
          img(src="https://via.placeholder.com/50", width="50")
          span Youthfull And Vibrant Skin
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex
          img(src="https://via.placeholder.com/50", width="50")
          span Breast Lifts Improvement
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex.selected
          img(src="https://via.placeholder.com/50", width="50")
          span Dna The Future Of Nutrition
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex
          img(src="https://via.placeholder.com/50", width="50")
          span Proven Techniques Help
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex
          img(src="https://via.placeholder.com/50", width="50")
          span Sleek Hair Sedu Style
          button.close-button
            i.fa.fa-times-circle

    main.main
      section.container-fluid
        .row
          .col-xs-12
            h1 Pretty Little Thing Gress
            p.text-gray-dark While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun and excitement ir provides, others may experience gambling as an addictive.

            .row
              .col-lg-6
                .card.overflow-hidden.bg-tertiary
                  .card__image
                    img(src="https://via.placeholder.com/300", class="cover-img")

                  h3.card__title.text-gray-dark Whats Is Botox

                  .card__footer.d-flex
                    img(src="https://via.placeholder.com/32", class="img-circle")
                    span.user-name.text-gray-light Connor Lane

              .col-lg-6
                .card.overflow-hidden.bg-tertiary
                  .card__image
                    img(src="https://via.placeholder.com/300", class="cover-img")

                  h3.card__title.text-gray-dark Youthfull And Vibrant Skin

                  .card__footer.d-flex
                    img(src="https://via.placeholder.com/32", class="img-circle")
                    span.user-name.text-gray-light Billy Jean

              .col-lg-6
                .card.overflow-hidden.bg-tertiary
                  .card__image
                    img(src="https://via.placeholder.com/300", class="cover-img")

                  h3.card__title.text-gray-dark Dna The Future of Nutrition

                  .card__footer.d-flex
                    img(src="https://via.placeholder.com/32", class="img-circle")
                    span.user-name.text-gray-light Mark Rodgers

  script.