doctype html
html(lang="es")
  head
    title
      | Test
    meta(charset="UTF-8")
    link(href="/css/styles.css", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")

  body

  script.
