doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Test Maquetador
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css', integrity='sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Noto+Serif+TC:900', rel='stylesheet')
  body
    nav.navbar.navbar-default.top-fixed.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img(src='https://via.placeholder.com/150x60', alt='')
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') SOBRE NOSOTROS
            li
              i.fas.fa-bell
            li
              a(href='') RUBEN
            li
              a.navbar-brand(href='#')
                img(src='https://via.placeholder.com/50x50', alt='')
    ul.container_vertical
      li.container_vertical-li.diactive
        .input-group
          span.input-group-addon
            i.fas.fa-search
          input.form-control(type='text', placeholder='Buscar producto')
        hr
        span.text About
    .container_leading
      .container.container_leading-margin
        .row
          .col-lg-12.text-center
            h1.title Pretty Little Thing Gress
        .row
          .col-sm-offset-2.col-sm-8
            p.subtittle
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe mollitia facere eligendi voluptate ad explicabo, dignissimos molestiae odio nobis in, quis iusto illo unde commodi cupiditate veritatis aspernatur cumque.
        .row
          .col-sm-offset-2.col-sm-4
            .card.margin(style='width:90%')
              img(src='https://via.placeholder.com/320x320', "='')
              .card-container.card-center
                p.card-text The Troll's tongue in Hardanger, Norway
              .name-card-flex
                img.name_card-img(src='https://via.placeholder.com/50x50')
                p.name_card Connor Jane
          | 		<
          .col-sm-4
            .card.margin(style='width:90%')
              img(src='https://via.placeholder.com/320x320', "='')
              .card-container.card-center
                p.card-text The Troll's tongue in Hardanger, Norway
              .name-card-flex
                img.name_card-img(src='https://via.placeholder.com/50x50')
                p.name_card Connor Jane
          .col-sm-offset-2.col-sm-4
            .card.margin(style='width:90%')
              img(src='https://via.placeholder.com/320x320', "='')
              .card-container.card-center
                p.card-text The Troll's tongue in Hardanger, Norway
              .name-card-flex
                img.name_card-img(src='https://via.placeholder.com/50x50')
                p.name_card Connor Jane
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
