doctype html
html(lang="es")
  head
    title
      | Test
    meta(charset="UTF-8")
    link(href="/css/styles.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://use.fontawesome.com/0f582737cd.js")

  body
    header.header
      .container-fluid.d-flex
        a.header__logo
          img(src="https://via.placeholder.com/50")

        nav
          ul.nav
            li
              a(href="#") Sobre nosotros
            
    aside.side-menu.bg-tertiary
      form.search.w-100
        .input-group.w-100
          button.search__button
            i.fa.fa-search
          input(type="text", class="search--input form-control", placeholder="Buscar producto", name="searchProduct")

      ul.product-list
        li.product-list__item.d-flex
          img(src="https://via.placeholder.com/50", width="50")
          span What Is The Right Look
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex.selected
          img(src="https://via.placeholder.com/50", width="50")
          span What Is Botox
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex.selected
          img(src="https://via.placeholder.com/50", width="50")
          span Youthfull And Vibrant Skin
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex
          img(src="https://via.placeholder.com/50", width="50")
          span Breast Lifts Improvement
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex.selected
          img(src="https://via.placeholder.com/50", width="50")
          span Dna The Future Of Nutrition
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex
          img(src="https://via.placeholder.com/50", width="50")
          span Proven Techniques Help
          button.close-button
            i.fa.fa-times-circle
        li.product-list__item.d-flex
          img(src="https://via.placeholder.com/50", width="50")
          span Sleek Hair Sedu Style
          button.close-button
            i.fa.fa-times-circle



    main.bg-tertiary
      section.container-fluid
        .row
          .col-xs-12
            h1 Pretty Little Thing Gress
            p While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun and excitement ir provides, others may experience gambling as an addictive.

  script.