doctype html
html(lang="es")
  head
    title
      | Test
    meta(charset="UTF-8")
    link(href="/css/styles.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")

  body
    header.header
      .container-fluid.d-flex
        a.header--logo
          img(src="/img/wyre-logo.jpg")

        nav
          ul.nav
            li
              a(href="#") Sobre nosotros
            
    aside.side-menu
      input

    section.bg-tertiary
      .row
        .col-xs-12
          h1 Pretty Little Thing Gress
          p While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun and excitement ir provides, others may experience gambling as an addictive.

  script.