@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'general';

.header {
	min-height: 80px;
	border-bottom: 1px solid #b3bac9;
	box-shadow: 3px 3px 3px 0 rgba(66, 66, 66, 0.1);

	.header__logo {
		padding-left: 65px;
	}

	nav {
		margin-left: auto;
		padding-left: 20px;
	}
}

.side-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 350px;
	margin-top: 80px;
	overflow-x: hidden;
   overflow-y: auto;
   transition: transform 0.35s ease;
   z-index: 99;
   padding: 10px;

	.search {
		.input-group {
   		position: relative;

   		&:before {
   			@include pseudo;
   			@include translateY;
   			width: 1px;
   			left: 57px;
   			height: 28px;
   			background-color: #697284;
   			z-index: 10;
   		}

   		.search__button {
   			position: absolute;
   			@include translateY;
				left: 16px;
				font-size: 18px;
				color: #b3bac9;
				border: none;
				background-color: transparent;
				z-index: 10;
   		}

   		.search--input {
   			height: 47px;
   			color: #b3bac9;
   			border: 2px solid #eaecf0;
   			border-radius: 5px;
   			box-shadow: none;
   			padding-left: 62px;
   		}
		}
   }

   .product-list {
   	border-top: 1px solid #d4d8e1;
   	padding-top: 14px;
   	margin-top: 14px;

   	.product-list__item {
   		position: relative;
   		border: 1px solid #eaecf0;
   		border-radius: 5px;
   		align-items: center;
   		font-size: 15px;
   		font-weight: 600;
   		color: $gray-light;
   		padding: 4px 34px 4px 4px;
   		margin-bottom: 14px;

   		img {
   			margin-right: 19px;
   		}

   		.close-button {
   			position: absolute;
   			display: none;
   			color: $tertiary;
   			border: none;
				background-color: transparent;
				right: 14px;
				@include translateY;
   		}

   		&.selected {
   			background-color: $primary;
   			border-color: $primary;

   			&:hover {
					.close-button {
   					display: block;
					}
   			}
   		}

   		&:hover {
   			background-color: $secondary;
   			border-color: $secondary;
   		}

   		&.selected,
   		&:hover {
   			color: $tertiary;
   		}
   	}
   }
}

.main {
	background-color: #f7f7f9;
	min-height: 100vh;
	padding: 70px 160px 60px;
	margin-left: 350px;

	h1 {
		font-size: 43px;
		font-weight: 700;
		margin-bottom: 28px;
	}

	.card {
		border-radius: 10px;
		border: 1px solid #d4d8e1;
		box-shadow: 0 3px 15px 0 rgba(51, 51, 51, 0.2);
		margin-top: 28px;
		transition: all 0.3s ease;
		cursor: pointer;

		&:hover {
			box-shadow: 1px 3px 45px 5px rgba(51, 51, 51, 0.2);
		}

		.card__image {
			position: relative;
			height: 0;
			padding-bottom: 69.1780%;
		}

		.card__title {
			font-size: 18px;
			font-weight: 700;
			padding: 0 14px;
			margin-top: 15px;
		}

		.card__footer {
			align-items: center;
			padding: 24px 14px;

			.user-name {
				font-size: 15px;
				margin-left: 8px;
			}
		}
	}
}